<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EntitySearch Demo: @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("EntitySearch Demo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    <li>@Html.ActionLink("Inventory", "Index", "Inventories")</li>
                    <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
                    <li>@Html.ActionLink("Orders", "Index", "Orders")</li>
                    <li class="visible-md visible-lg">@Html.ActionLink("Warehouses", "Index", "Warehouses")</li>
                    <li class="visible-md visible-lg">@Html.ActionLink("Products", "Index", "Products")</li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" id="entity-search-in-nav" data-entity-search>
                    </div>
                </form>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year EntitySearch Demo App &bull; @Html.ActionLink("About", "About", "Home") &bull; @Html.ActionLink("Contact", "Contact", "Home")</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @* EntitySearch: Set Route Data in the page to track this page as a recent. *@
    @{
        var routeValues = ViewContext.RouteData.Values.ToDictionary(x => x.Key, x => x.Value);
        // You will need to customize this if statement to configure which pages you want to be searchable.
        if (routeValues.ContainsKey("action")
            && (string)routeValues["action"] != "Edit"
            && (string)routeValues["action"] != "Create"
            && (string)routeValues["action"] != "Delete")
        {
            <script type="application/json" data-entity-search-route-data>@Html.Raw(Json.Encode(routeValues))</script>
        }
    }

    @* EntitySearch: Main javascript include for all pages in _Layout.cshtml. *@
    <script src=@Url.Content("~/Scripts/entity-search.min.js")></script>  
</body>
</html>
